{% extends "base.html" %}

{% load mezzanine_tags i18n %}

{% block meta_description %}{% metablock %}{{ object.description }}{% endmetablock %}{% endblock %}
{% block meta_title %}{{ object.title }}{% endblock %}
{% block title %}<a href="{{ object.url }}">{{ object.title }}</a>{% endblock %}

{% block main %}

{% block presentation_detail_postedby %}
{% editable object.publish_date %}
<h6 class="post-meta">
    {% trans "Posted by" %}:
    {% with object.user as author %}
    <a href="{% url "profile" author.username %}">{{ author.get_full_name|default:author.username }}</a>
    {% endwith %}
    {% blocktrans with sometime=object.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
</h6>
{% endeditable %}
{% endblock %}

{% block presentation_detail_content %}
{% editable object.content %}
{{ object.content|richtext_filters|safe }}
{% endeditable %}
{% endblock %}

{% block presentation_detail_files %}
{% editable object.relevant_files %}
<a class="btn btn-default btn-large" href="{{ MEDIA_URL }}{{ object.relevant_files.file }}">Fichier associé</a>
{% endeditable %}
{% endblock %}
{% endblock %}
